In [1]:
import pandas as pd 
import numpy as np

In [37]:
def rgbMap(r, g, b):
    if r == 255 and g == 64 and b == 255:
        return 'Cornertown'
    elif r == 4 and g == 51 and b == 255:
        return 'Northville'
    elif r == 0 and g == 253 and b == 255:
        return 'Riverside'
    elif r == 255 and g == 38 and b == 0:
        return 'Suburbia'
    elif r == 148 and g == 33 and b == 146:
        return 'Villa'
    elif r == 255 and g == 98 and b == 81:
        return 'Smogtown'
    elif r == 0 and g == 163 and b == 215:
        return 'Westside'
    elif r == 170 and g == 121 and b == 66:
        return 'Plainville'
    elif r == 0 and g == 249 and b == 0:
        return 'Downtown'
    elif r == 255 and g == 147 and b == 0:
        return 'Uptown'
    elif r == 145 and g == 145 and b == 145:
        return 'Lakeside'
    elif r == 255 and g == 251 and b == 0:
        return 'Eastside'
    else:
        return 'UNDEFINED'

In [38]:
def region(x):
    if int(x['x']) < width and int(x['y']) < height:
        pixel = vastopolis.getpixel((int(x['x']), int(x['y'])))
        return rgbMap(pixel[0], pixel[1], pixel[2])
    else:
        return "UNDEFINED"

In [45]:
data_full = pd.read_csv("../a3_data/Microblogs.csv",encoding='latin-1')

In [47]:
data_full["loc1"] = data_full["Location"].apply(lambda x: float(x.split(" ")[0]))
data_full["loc2"] = data_full["Location"].apply(lambda x: float(x.split(" ")[1]))

In [51]:
l1_min = data_full["loc1"].min()
l1_range = data_full["loc1"].max() - l1_min

In [52]:
l2_min = data_full["loc2"].min()
l2_range = data_full["loc2"].max() - l2_min

In [43]:
data = pd.read_csv("../a3_data/disease_posts.csv",encoding='latin-1')

In [5]:
data['x'] = np.nan
data['y'] = np.nan
data['region'] = np.nan

In [6]:
from PIL import Image
vastopolis = Image.open("../a3_data/Vastopolis_Map_Regions.png")
vastopolis = vastopolis.convert("RGB")
width, height = vastopolis.size

In [20]:
# y = lambda y: height*(float(y["Location"].split(" ")[0]) - 42.1609)/0.1408
# x = lambda x: width - (width*(float(x["Location"].split(" ")[1]) - 93.1923 )/.375)

In [54]:
y = lambda y: height*(float(y["Location"].split(" ")[0]) - l1_min)/l1_range
x = lambda x: width - (width*(float(x["Location"].split(" ")[1]) - l2_min )/l2_range)

In [55]:
data["x"] = data.apply(x, axis=1)
data["y"] = data.apply(y, axis=1)

In [56]:
data["region"] = data.apply(region, axis=1)

In [57]:
data

,ID,Created_at,Location,text,words,keep,date,x,y,region
0,89856,4/30/2011 5:14,42.22036 93.505,cold water is the worst,"['cold', 'water', 'is', 'the', 'worst']",True,2011-04-30,862.893827,1110.425437,Westside
1,6905,4/30/2011 16:30,42.28287 93.51099,His throat issues began on the bad tour. which...,"['His', 'throat', 'issues', 'began', 'on', 'th...",True,2011-04-30,779.941909,2299.406151,Plainville
2,119153,4/30/2011 0:54,42.25221 93.38917,Public Enemies again! Johnny Depp! What I mean...,"['Public', 'Enemies', 'again!', 'Johnny', 'Dep...",True,2011-04-30,2466.954042,1716.233080,Downtown
3,119355,4/30/2011 7:00,42.25044 93.49701,He a doctor and u a dumb ass so ima listen to him,"['He', 'a', 'doctor', 'and', 'u', 'a', 'dumb',...",True,2011-04-30,973.542546,1682.566533,Westside
4,119777,4/30/2011 19:58,42.21565 93.37519,Omg! #Ochocinco is sooooo hot #fact,"['Omg!', '#Ochocinco', 'is', 'sooooo', 'hot', ...",True,2011-04-30,2660.554679,1020.838185,Riverside
...,...,...,...,...,...,...,...,...,...,...
81699,132816,5/20/2011 18:49,42.1952 93.45904,this diarrhea is killing me and I hate this,"['this', 'diarrhea', 'is', 'killing', 'me', 'a...",True,2011-05-20,1499.366308,631.865931,Westside
81700,12984,5/20/2011 16:35,42.22641 93.34523,so much for a good night this flu is making me...,"['so', 'much', 'for', 'a', 'good', 'night', 't...",True,2011-05-20,3075.452755,1225.500358,Uptown
81701,132814,5/20/2011 7:50,42.27255 93.21862,tonight blows this case of the chills is killi...,"['tonight', 'blows', 'this', 'case', 'of', 'th...",True,2011-05-20,4828.798726,2103.113063,Lakeside
81702,132864,5/20/2011 17:35,42.20324 93.49239,this case of the chills had me down for the co...,"['this', 'case', 'of', 'the', 'chills', 'had',...",True,2011-05-20,1037.522156,784.791941,Westside
81703,4,5/20/2011 20:28,42.2183 93.38957,Christian has caught a pneumonia home is where...,"['Christian', 'has', 'caught', 'a', 'pneumonia...",True,2011-05-20,2461.414682,1071.242902,Riverside

In [58]:
data.to_csv("../a3_data/data.csv", index=False)

print(red_image_rgb.getpixel((700,2400))

In [25]:
data.columns

Index(['ID', 'Created_at', 'Location', 'text', 'words', 'keep', 'date', 'x',
       'y', 'region'],
      dtype='object')

In [28]:
data.iloc[:5, :].apply(lambda row: print(row["region"]), axis=1)

Westside
Plainville
Downtown
Westside
Riverside

0    None
1    None
2    None
3    None
4    None
dtype: object