In [1]:
import pandas as pd 
import numpy as np

In [3]:
def rgbMap(r, g, b):
    if r == 255 and g == 64 and b == 255:
        return 'Cornertown'
    elif r == 4 and g == 51 and b == 255:
        return 'Northville'
    elif r == 0 and g == 253 and b == 255:
        return 'Riverside'
    elif r == 255 and g == 38 and b == 0:
        return 'Suburbia'
    elif r == 148 and g == 33 and b == 146:
        return 'Villa'
    elif r == 255 and g == 98 and b == 81:
        return 'Smogtown'
    elif r == 0 and g == 163 and b == 215:
        return 'Westside'
    elif r == 170 and g == 121 and b == 66:
        return 'Plainville'
    elif r == 0 and g == 249 and b == 0:
        return 'Downtown'
    elif r == 255 and g == 147 and b == 0:
        return 'Uptown'
    elif r == 145 and g == 145 and b == 145:
        return 'Lakeside'
    elif r == 255 and g == 251 and b == 0:
        return 'Eastside'
    else:
        return 'UNDEFINED'

In [ ]:
def region(x):
    if int(x['x']) < width and int(x['y']) < height:
        pixel = vastopolis.getpixel((int(x['x']), int(x['y'])))
        return rgbMap(pixel[0], pixel[1], pixel[2])

In [4]:
data = pd.read_csv("Microblogs.csv",encoding='latin-1')

In [5]:
data['x'] = np.nan
data['y'] = np.nan
data['region'] = np.nan

In [6]:
from PIL import Image
vastopolis = Image.open("Vastopolis_Map_Regions.png")
vastopolis = vastopolis.convert("RGB")
width, height = vastopolis.size

In [7]:
x = lambda x: width*(float(x["Location"].split(" ")[0]) - 42.1609)/0.1408

In [8]:
y = lambda x: height - (height*(float(x["Location"].split(" ")[1]) - 93.1923 )/.375)

In [9]:
data["x"] = data.apply(x, axis=1)
data["y"] = data.apply(y, axis=1)

In [11]:
data["region"] = data.apply(region, axis=1)

,ID,Created_at,Location,text,x,y,region
0,3,5/18/2011 13:26,42.22717 93.33772,this convention filled with technology could b...,2455.002273,1624.201973,Downtown
1,3,5/10/2011 9:22,42.18881 93.35642,4 orang top scorer skrg 3 di antara nya pake ...,1033.938636,1491.905707,Westside
2,3,5/14/2011 9:22,42.22479 93.35922,Nike 'gana' el Mundial al patrocinador oficial...,2366.834091,1472.096640,Downtown
3,3,5/6/2011 9:22,42.2469 93.32527,Positiiff mau nabung beli kaos adidas aslii...,3185.909091,1712.281573,Downtown
4,3,5/19/2011 9:22,42.2354 93.35642,I kick it like Adidas,2759.886364,1491.905707,Downtown
...,...,...,...,...,...,...,...
1023072,180464,5/2/2011 19:05,42.2814 93.24858,Als dit echt opgelost is wil ik alleen maar p...,4463.977273,2254.837760,Lakeside
1023073,180464,5/16/2011 19:05,42.25368 93.26695,Haha roast is hella funny . :D,3437.077273,2124.876133,Lakeside
1023074,180464,5/15/2011 19:05,42.19501 93.50979,LinkedIN profiel laat 1 ongelezen bericht in i...,1263.620455,406.864080,Northville
1023075,180464,5/6/2011 19:05,42.24012 93.33166,soooorry guys my sister is an idiot.,2934.740909,1667.074453,Downtown
1023076,180464,5/2/2011 19:05,42.20444 93.42073,hey the room is gettin smaller,1612.959091,1036.933893,Westside

print(red_image_rgb.getpixel((700,2400))